venv/
__pycache__/
*.pyc
_archive/
src/deprecated/
*.csv
r_machinelearning_posts.jsonl
.env
test_openai.py
src/03_analysis/notes.md

# data folder
data/*
!data/final
data/final/*
!data/final/results
!data/final/02_eda

!data/final/results/**/*.csv